/*
Theme Name: VW Painter
Theme URI: https://www.vwthemes.com/themes/free-painter-wordpress-theme/
Author: VW Themes
Author URI: https://www.vwthemes.com/
Description: VW Painter is a stylish, colourful, fresh and dynamic painter WordPress theme for painters, panting companies, individual painters, graphic designers, web designers, UI/UX designers, artistic works, art galleries and panting exhibitions, renovation business and other artists like dancers, singers, musicians etc. and for portfolio, photo studio, photographers and other relevant businesses and websites. The theme can be made more appealing with the use of banners and sliders. Exhibit your best work in gallery. This responsive theme holds mobile-first approach which makes it look beautiful on all devices. It loads comfortably on any browser and can be translated to numerous other languages. Its functionality can be expanded by using third party plugins. It is configured to bring large traffic using its SEO. It has beautiful blog templates to keep visitors’ interest alive. VW Painter has so many options to customize its look like it provides stylish layouts for header, footer and sidebars. Alter its slider settings to give different effects. Its clean and secure codes make it a strong base for bug-free website. Use of social media icons will make your content shareable on various networking platforms. Demo: https://www.vwthemes.net/vw-painter-pro/
Tested up to: 5.4.2
Requires PHP: 7.2.14
Version: 0.5.5
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: vw-painter
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, theme-options, translation-ready, threaded-comments,post-formats, rtl-language-support, blog, portfolio, e-commerce

VW Painter WordPress Theme has been created by VW Themes(vwthemes.com), 2018.
VW Painter WordPress Theme is released under the terms of GNU GPL
*/

/* Basic Style */

*{
  margin:0;
  padding:0;
  outline:none;
}
html{
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word; 
  word-wrap:break-word;
  position:relative;
  background: #fff;
  font-size: 14px; 
  color: #838288;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
img{ 
  margin:0; 
  padding:0; 
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  padding:10px 0;
  color: #1e1d24;
}
p{ 
  margin:0 0 15px; 
  padding:0;
  letter-spacing: 1px;
}
a{ 
  text-decoration:none; 
  color: #7ab901;
}
a:hover{ 
  text-decoration:none; 
  color:#333;
}
a:focus,
a:hover{
  text-decoration:none !important;
}
a:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="phno"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
textarea:focus,
input[type="submit"]:focus,
#comments:focus,
select:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
  text-decoration:none !important;
} 
.toggle-nav button:focus, .search-box button:focus, .serach_inner input.search-field:focus, .serach_inner input.search-submit:focus, button.close:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
  text-decoration:none !important;
} 
.close:focus, .close:hover {
  color: #fff;
}
ul{ 
  margin:0 0 0 15px; 
  padding:0;
}

:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.clear{ 
  clear:both;
}
input.search-field {
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  color: #999
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
.middle-align{ 
  margin: 0 auto; 
  padding: 20px 0;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box h3{
  background: url(images/pin.png) no-repeat scroll 0 0px;
  padding-left: 40px;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft, 
img.alignleft {
  display: inline; 
  float: left; 
  margin-right:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
  border:1px solid #bbb;
  padding:5px; 
}
.alignright, 
img.alignright { 
  display: inline; 
  float: right; 
  border:1px solid #bbb; 
  padding:5px;
  margin-bottom:10px;
  margin-left:25px;
}
.aligncenter, 
img.aligncenter {
 clear: both; 
 display: block; 
 margin-left: auto; 
 margin-right: auto; 
 margin-top:0; 
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-left:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
 margin:0;
 padding:0;
}
input[type="text"],
input[type="email"],
input[type="phno"], 
input[type="Password"],
textarea{
  border:1px solid #bcbcbc;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px; 
}
input[type="submit"] {
  text-align:center;
  text-transform:uppercase;
  font-size:16px;
  padding: 9px 30px; 
  background: #7ab901;
  font-weight:bold;
  color:#fff;
  letter-spacing: 1px;
  border: none;
}

/* --------TOP BAR --------- */
#topbar {
  background-image: linear-gradient(to right, #00d2a0, #7ab901, #efc62a, #e89314 );
  padding: 10px 0;
}
.contact_details span {
  color: #fff;
  font-size: 15px;
}
.contact_details i {
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  margin-right: 5px;
  border: solid 1px;
  border-radius: 50%;
  padding: 10px;
}
#topbar .custom-social-icons h3{
  display: none;
}
#topbar .custom-social-icons {
  text-align: center;
  margin: 10px 0;
}
#topbar .custom-social-icons i {
  color: #fff;
  font-size: 15px;
  margin-right: 15px;
  padding: 0;
  border: none;
}
#topbar .custom-social-icons i:hover{
  color: #1e1d24;
}
.top-button {
  text-align: center;
  margin: 10px 0;
}
.top-button a {
  border: solid 2px #1e1d24;
  color: #1e1d24;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}
.top-button a:hover {
  background: #1e1d24;
  color: #fff;
}

/* ------------ LOGO CSS ----------- */
.logo{
  z-index: 999;
  padding: 10px;
}
.logo h1 a, .logo p.site-title a {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}
.logo h1, .logo p.site-title{
  line-height: 30px;
  padding-top: 0;
}
.logo p.site-title {
  margin: 0;
  padding: 3px 0px;
  letter-spacing: 0;
}
p.site-description {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;  
  font-size: 13px;
  margin-bottom: 0;
}

/* --------- HEADER --------- */
#header a:focus, #topbar a:focus, .logo h1 a:focus, .logo p.site-title a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.home-page-header {
  background-image: linear-gradient(to right, #00d2a0, #7ab901, #efc62a, #e89314 );
  padding: 15px 0;
}
.page-template-custom-home-page .home-page-header{
  padding: 0;
}
.page-template-custom-home-page #top-header {
  position: relative;
  margin-top: -3em;
  top: 3em;
  background: #1e1d24;
  z-index: 99;
}
#top-header{
  background: #1e1d24;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation a{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 12px;
  padding: 18px 12px;
  text-transform: none;
}
.main-navigation a:hover{
  color: #7ab901;
}
.main-navigation a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 90%;
  border-top: 4px solid #7ab901;
  border-bottom: 4px solid #7ab901;
  line-height: 30px;
  border-radius: 5px;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 0%;
}
.main-navigation ul ul a{
  color: #000 ;
  border: none;
  padding: 5px 10px ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  color: #7ab901;
  padding-left: 50px !important;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  left: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  left: 15px;
  width: 20px;
}
.main-navigation ul ul a:focus{
  outline: 1px dotted #000 !important;
  border-bottom: 1px solid #000 !important;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-left: none;
  border-right: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-left-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}
/*----------------- SEARCH POPUP ----------------*/
.modal-backdrop {
  position: static;
}
.modal-content{
  background: transparent;
  border: 0;
}
.modal-dialog{
  max-width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: all;
}
.modal-body{
  height: 100%;
  padding: 0;
}
.modal{
  background-color: rgba(27, 27, 27, 0.8);
}
.search-box button {
  background: transparent;
  border: 0;
}
.close {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  right: 0;
  text-align: right;
  margin-right: 28px;
  font-size: 35px;
  color: #fff;
  opacity: 1;
}
.serach_inner label {
  width: 80% !important;
}
.serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.serach_inner form.search-form {
 display: table;
 padding: 0;
 border-radius: 0;
 border-bottom: solid 1px #999; 
 margin: 0 auto;
 max-width: 700px;
 width: 100%;
}
.serach_inner input.search-submit {
  padding: 10px 25px;
  background: url(images/search.png) no-repeat scroll 0 8px;
  font-size: 13px;
  text-align: center;
  float: right;
  text-indent: -9999px;
  border: none;
  margin-top: 6px;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
.serach_inner input.search-field {
  border: none;
  padding: 4px 0;
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  color: #999
}
.search-box i {
  color: #fff;
  cursor: pointer;
  padding: 12px;
  border: solid 2px #fff;
}
.search-box {
  text-align: center;
  margin: 20px 0;
}

/*-------------- HEADINGS ------------*/
section h2{
  font-weight:bold; 
  text-align:center; 
  margin:0 0 45px;
  padding:0;
  text-transform:uppercase;
}
section h3{
  font-weight:bold; 
  text-align:center;
  margin:30px 0 0 0;
  text-transform:uppercase;
}
section h4{
  color:#000; 
  font-weight:bold;
  font-size:18px;
}
section h5{
  color:#000; 
  font-weight:bold;
  font-size:24px;
  margin:0 0 10px 0;
  padding:0;
}

/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
#slider img {
  width: 100%;
  opacity: 0.7;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;  
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  background-image: none;
  font-size: 15px;
  color: #fff;
  border: solid 2px;
  padding: 15px 20px;
}
#slider .carousel-control-prev,#slider .carousel-control-next{
  opacity: unset !important;
  top: auto;
  transform: rotate(90deg);
}
#slider .carousel-control-next {
  right: 85%;
  bottom: 40px;
}
.carousel-control-prev {
  bottom: 100px;
}
#slider .carousel-control-next-icon,#slider .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
  left: 45%;
  text-align: right;
  padding-top: 0;
  padding-right: 15px;
  border-right: solid 12px;
  border-image: linear-gradient(to bottom, #00d2a0, #7ab901, #efc62a, #e89314 ) 1 100%;
}
#slider .inner_carousel h1 {
  font-size: 40px;
  text-align: right;
  color: #fff;
  margin-bottom: 0;
  font-weight: 900;
  padding: 0;
  text-transform: uppercase;
}
#slider .inner_carousel h1 a{
  color: #fff;
}
#slider .inner_carousel p {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
}
.more-btn a{
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  border: solid 2px #fff;
  padding: 12px 20px;
}
.more-btn{
  margin: 25px 0;
}
.more-btn a:hover{
  background: #1e1d24;
}

/* --------- OUR SERVICES ------- */

#our_services {
  padding: 3% 0;
  text-align: center;
  background: url(images/servicesbg.jpg);
  background-size: 100%;
}
#our_services h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-right: solid;
  border-left: solid;
  display: -webkit-inline-box;
  font-size: 30px;
  font-weight: 800;
}
#our_services p {
  color: #c2c1c2;
  font-size: 14px;
}
#our_services h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  text-transform: none;
}
.cat-btn a {
  border: solid 2px #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.cat-btn a:hover{
  background: #7ab901;
  border-color: #7ab901;
}
.cat-btn {
  margin: 8% 0;
}
/*---------Sticky Header---------*/
.header-fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
  background: #1e1d24;
  z-index: 999999;
}
/*----------- PRELOADER ----------*/

#preloader  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  height: 100%;
}
#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
/*------- Footer Section ------*/
.scrollup i {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 20px;
  display: none;
  color: #fff !important;
  padding: 10px;
  background: #7ab901;
}
.scrollup.left i{
  left: 10px;
}
.scrollup.center i{
  left: 50%;
  right: 50%;
}
/* --------- FOOTER ------- */
#footer a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
#footer .custom-social-icons i ,
#sidebar .custom-social-icons i{
  padding: 10px;
  margin: 5px;
  border: 1px solid;
}
#footer .tagcloud a{
  border: solid 1px #72757a;
  color:#72757a;
  font-size: 14px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#footer .tagcloud a:hover{
  background: #7ab901;
  color: #fff;
}
#footer li a:hover {
  color: #7ab901;
}
#footer ins span,
#footer .tagcloud a {
  color: #72757a;
}
.copyright img{
  text-align: right;
}
#footer .widget {
  padding: 15px 0;
}
#footer input[type="submit"]{
  margin-top: 0;
  padding: 10px 9px;
  font-size: 15px;
  width: 100%;
  background: #7ab901;
}
#footer label{
  width: 100%;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #72757a;
  padding: 10px;
}
#footer caption,#sidebar caption {
  font-weight: bold;
  color: #72757a;
  font-size: 20px;
}
#footer table,
#footer th,
#footer td{
  border: 1px solid #72757a;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #72757a;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #72757a;
}
#footer li a {
  color: #72757a;
  font-size: 14px;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
  margin: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  color: #72757a;
  text-align: left;
  background: #1e1d24;
}
#footer h3 {
  color: #fff;
  font-size: 20px;
  padding: 0 0 17px 0;
  letter-spacing: 1px;
  font-weight: bold;
}
#footer p{
  font-size: 14px;
}
.navigate  ul{
  list-style: none;
}
.copyright a {
  color: #fff;
}
.copyright p{
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
#footer-2{
  background-image: linear-gradient(to right, #00d2a0, #7ab901, #efc62a, #e89314 );
  text-align:center;
  padding:20px 0;
}
#footer ul.cart_list li a, #footer ul.product_list_widget li a , #footer ul.cart_list li .star-rating, #footer ul.product_list_widget li .star-rating{
  margin-bottom: 5px;
}
#footer .widget_price_filter .ui-slider .ui-slider-range, #footer .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #7ab901;
}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #fff;
}
#footer .woocommerce-product-search button{
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #7ab901;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 10px;
}
#footer .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
}
#footer form.woocommerce-product-search{
  border: none;
}
#footer li.woocommerce-mini-cart-item.mini_cart_item{
  line-height: 25px;
  margin-top: 10px;
  padding: 0 0 0 2em !important;
}
#footer ul.product_list_widget li {
  line-height: 25px;
  margin-top: 10px;
}
#footer .widget_rating_filter ul li {
  line-height: 25px;
  margin-top: 10px;
}
#footer #respond input#submit, #footer a.button, #footer button.button, #footer input.button, #footer #respond input#submit.alt, #footer a.button.alt, #footer button.button.alt, #footer input.button.alt{
  background: #7ab901;
  color: #fff;
}
#footer #respond input#submit:hover, #footer a.button:hover, #footer button.button:hover, #footer input.button:hover, #footer #respond input#submit.alt:hover, #footer a.button.alt:hover, #footer button.button.alt:hover, #footer input.button.alt:hover{
  color: #000;
}
/* --------- Blog Page ------- */
.post-main-box:hover h2 {
  color: #7ab901;
}
iframe,
.entry-audio audio {
    width: 100%;
}
.entry-video video {
  width: 100%;
}
h1.page-title {
  margin-bottom: 1%;
  margin-top: 0;
}
#our-services {
  margin-top: 0;
}
.post-main-box {
  margin-bottom: 5%;
  padding: 20px;
  border: 2px solid #1e1d24;
  box-shadow: 0px 15px 10px -15px #999;
}
.post-main-box h2 {
  text-align: left;
  margin-top: 0;
  padding-top: 0;
  font-size: 20px;
  color: #1e1d24;
  font-weight: 700;
  letter-spacing: 1px;
}

.new-text p,
#our-services p {
  color: #838288;
  font-size: 15px;
  line-height: 26px;
  margin-top: 15px;
  text-align: justify;
}
#our-services .single-post p{
  text-align: left;
}
.post-info {
  color: #838288;
  font-size: 12px;
  letter-spacing: 1px;
}
.post-info span {
  margin-right: 1%;
}
.post-info hr {
  width: 10%;
  border-top: solid 2px #7ab901;
  margin-bottom: 0;
}
.content-bttn a{
  border: solid 2px #1e1d24;
  color: #1e1d24;
  padding: 10px 15px;
  font-weight: 800;
}
.content-bttn {
  margin: 20px 0;
  display: inline-block;
}
.entry-content a, #sidebar .textwidget p a, .textwidget p a, #comments p a, .slider .inner_carousel p a{
  color: #7ab901;
  text-decoration: underline;
}
.tags {
  padding-top: 10px;
}
.tags a {
  text-decoration: none!important;
  font-weight: 400;
  /* border-radius: 3px; */
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.entry-date a, .entry-author a{
  color: #838288;
}
.single-post .entry-date a, .single-post .entry-author a{
  color: #000;
}
.single-post .post-info{
  color: #000;
  clear: both;
  font-size: 12px;
  letter-spacing: 1px;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
}
.single-post h1{
  font-size: 30px;
}
.post-info i{
  margin-right: 10px;
}
.related-post {
  clear: both;
}
.related-post h3 {
  padding: 15px 0px 15px;
}
.related-post h2.section-title{
  padding-top: 10px;
}
.related-post .new-text p, #our-services .related-post p{
  margin-top: 0;
}
.related-post .post-main-box {
  margin-bottom: 10%;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: left;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:5px 15px;
  margin-right:5px;
}
.bradcrumbs a:hover{
  background:#ffd34e;
}
.bradcrumbs span{
  background:#dddddd; 
  color:#000;
  padding:5px 15px;
}

/* Comments BOX */
#comments ol.children img {
  width: 30px;
}
#comments ol {
  list-style: none;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  margin-bottom: 10px;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"]{
  border: solid 2px #1e1d24;
  color: #1e1d24;
  background: transparent;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 12px;
}
#comments input[type="submit"].submit:hover,
#sidebar input[type="submit"]:hover,
.error-btn a:hover,
.content-bttn a:hover{
  background: #1e1d24;
  color: #fff;
}
#comments a.comment-reply-link{
  color:#fff;
  background:#7ab901;
  padding:5px 15px;
}  
#comments a.comment-reply-link:hover{
  background:#ddd;
  color: #000;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#comments ol li{
  width:100%;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#f5f5f5;
  display:inline-block;
  border: 1px solid #d6d6d6;
} 
#comments ul{
  margin:0 0 0 40px;
}
#comments .reply{
  float:right;
}
#comments .comment-metadata{
  width:90%;
  float:left;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:left;
  margin-left:7%;
}
#comments p {
  width:100%;
  float:left;
}
/*----------single-post-comments---------*/
.comments .comment-author, .comment-author.vcard {
  width: 50%;
  float: left;
}
.comment-meta.commentmetadata {
  float: right;
  width: 50%;
  text-align: right;
}
.comments p {
  width: 90%;
  float: left;
}
.comments .reply {
  float: left;
}
.reply {
  margin-bottom: 15px;
  width: 100%;
  float: left;
}
/*---------- Sidebar---------- */
#sidebar .social_widget {
  border: 2px solid #1e1d24;
  margin-bottom: 25px;
  padding: 15px;
  text-align: center;
}
#sidebar .social_widget i {
  border: solid 2px #1e1d24;
  width: 40px;
  text-align: center;
  height: 40px;
  color: #1e1d24;
  padding: 10px;
  margin-bottom: 5px;
}
#sidebar .social_widget i:hover{
  background: #1e1d24;
  color: #fff;
}
#sidebar td#prev a {
  color: #838288;
}
#sidebar caption {
  font-weight: bold;
  color: #1e1d24;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #838288;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #838288;
}
#sidebar select {
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #838288;
  background: transparent;
}
#sidebar form{
  text-align: center;
}
#sidebar h3 {
  font-size: 18px !important;
  display: table;
  color: #1e1d24;
  font-weight: 800 !important;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 0px 10px !important;
  margin: -28px auto 28px auto !important;
}
#sidebar input[type="search"] {
  padding: 10px;
  font-size:15px;
  margin-bottom: 10px;
  color:#838288;
  border: solid 1px #e1e1e1;
  width: 100%;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar input[type="submit"]{
  border: solid 2px #1e1d24;
  color: #1e1d24;
  background: transparent;
  padding: 15px;
  font-weight: 800;
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
}
#sidebar .widget {
  padding: 20px;
  border: solid 2px #1e1d24;
  margin-bottom: 50px;
  box-shadow: 0px 15px 10px -15px #999;
}
#sidebar ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 17px !important;
}
#sidebar ul li{
  color: #838288;
  font-size: 13px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 2;
}
#sidebar ul li a {
  color: #838288;
  letter-spacing: 1px;
  font-size: 15px;
}
#sidebar .tagcloud a{
  border: solid 1px #e1e1e1;
  color:#838288;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#sidebar .tagcloud a:hover,
#footer .tagcloud a:hover{
  background: #7ab901;
  color: #fff;
}
#sidebar ul.product_list_widget li{
  line-height: 25px;
  margin-top: 10px;
}
#sidebar .widget_shopping_cart .cart_list li a.remove, #sidebar.widget_shopping_cart .cart_list li a.remove {
  position: absolute;
  top: 0px;
  left: 0;
}
#sidebar .widget_price_filter .ui-slider .ui-slider-range, #sidebar .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #7ab901;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#sidebar ul.cart_list li a, #sidebar ul.product_list_widget li a, #sidebar ul.cart_list li .star-rating, #sidebar ul.product_list_widget li .star-rating {
  margin-bottom: 5px;
}
#sidebar .woocommerce-product-search button{
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #7ab901;
  font-weight: bold;
  color: #fff;
  border: none;
}
#sidebar .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
}
#sidebar form.woocommerce-product-search{
  border: none;
}
.nav-previous{
  clear:both;
}
.nav-previous,
.nav-next{
  float:left;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:right;
  font-size: 18px;
}
.nav-previous{
  text-align:left;
  font-size: 18px;
}

/*------------ PAGE CSS -------------*/
.error404 {
  text-align: center;
}
.error-btn a {
  border: solid 2px #1e1d24;
  color: #1e1d24;
  padding: 15px;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.error-btn {
  margin: 25px 0;
}
.title-box h1 {
  color: #1e1d24;
  clear: both;
}
.content-vw p{
  text-align:justify;
  line-height: 25px; 
  font-size: 14px; 
  margin:0 0 20px 0;
}
.content-vw hr{
  border:none;
  border-bottom:2px solid #7e7e7e;
  margin:20px 0; 
  clear:both;
}
.content-vw h1{
  font-size: 35px;
  font-weight:bold;
}
.content-vw h2{
  font-size:32px; 
  font-weight:normal;
  margin:0;
  padding:0;
  margin:0 0 25px; 
}
.content-vw h3{
  font-size:36px; 
  font-weight:normal;
  margin:0;
  padding:0;
  margin:0 0 25px; 
}
.content-vw h4{
  font-size:20px; 
  font-weight:bold;
  margin:0;
  padding:0;
  margin:0 0 25px;
}
.content-vw h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0; 
  font-weight:bold;
  line-height:normal;
}
.content-vw h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0; 
  font-weight:bold;
  line-height:normal;
}
.content-vw ul{
  margin:0 0 0 10px;
  padding:10px 0 0; 
  font-size:16px;
}
.content-vw ol{
  margin:0 0 0 15px;
  padding:10px 0 0 0; 
  font-size:16px;
  counter-reset: myCounter;
}
.content-vw ol li ol li{
  margin:0 0 20px 0;
  padding:0 0 0 35px;
}
.content-vw ol li{
  padding:0 0 0 0;
  margin:0 0 20px 0;
}
.read-moresec{
  margin:2% 0;
}
.page-content, .page-content p {
  text-align: center;
}
.page-content .read-moresec {
  margin: 20px;
  margin-bottom: 20px;
}
/*------------- PAGINATION CSS --------------*/
.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:right;
  font-weight:bold;width:100%;
} 
.pagination span, .pagination a {
  display:block;
  float:left;
  margin: 2px 5px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#1e1d24;
  border: 2px solid #1e1d24;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover{
  color:#fff;
  background: #1e1d24;
} 
.pagination .current {
  padding: 10px 15px;
  background: #1e1d24;
  color: #fff;
  font-weight: bold;
}
.content-vw .pagination ul{
  margin:0;
  clear:both;
}
.content-vw .pagination ul li{
  margin:0;
}
.post-navigation{
  clear:both;
}
.post-navigation {
  clear: both; 
}
.post-navigation .post-title { 
  font-size: 20px; 
  font-size: 1.75rem; 
  line-height: 1.25; 
}
.nav-previous {
  float: left;
  width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation .page-numbers { 
  display: inline-block; 
}
.post-navigation a { 
  color: #1e1d24; 
  display: block; 
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  color: #686868; 
  font-size: 13px;
  letter-spacing: 0.076923077em; 
  line-height: 1.6153846154; 
  margin-bottom: 0.5384615385em; 
  text-transform: uppercase; 
}
.post-navigation .post-title {
  font-size: 20px; 
  font-weight: 700;  
  line-height: 1.2173913043; 
  text-rendering: optimizeLegibility;
}
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title { 
  color: #7ab901;
}
.post-navigation:before {
  right: 0;
}
.post-navigation:after {
  right: 54px;
}
.post-navigation a:hover,
.post-navigation a:focus {
  color: #7ab901;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,
.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
.post-navigation .current .screen-reader-text {
  position: static !important;
}
.post-navigation .page-numbers {
  display: none;
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 0.7368421053em 0 -0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  right: 54px;
}
/*------single-post-pagination------*/
.post-navigation a {
  color: #1a1a1a;
  display: block;
}
.nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
.nav-previous {
  width: 50%;
  float: left;
  text-align: left;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
  padding: 15px;
}
.post-navigation span { 
  display: block;
}
.post-navigation .post-title {
  display: none;
}
/*------------- About us widgets --------------*/
#footer .more-button, #sidebar .more-button {
  margin: 20px 0px 10px 0px;
}
#sidebar a.custom_read_more {
  border: solid 2px #1e1d24;
  color: #1e1d24;
  padding: 10px 15px;
  font-weight: 800;
}
#footer a.custom_read_more{
  border: solid 2px #7ab901;
  color: #7ab901;
  padding: 10px 15px;
  font-weight: 800;
}
#footer p.custom_author, #sidebar p.custom_author {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 4px;
}
#footer p.custom_designation, #sidebar p.custom_designation {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 4px;
}
#sidebar a.custom_read_more:hover{
  background: #212121;
  color: #fff;
  border-color: #212121;
}
#footer a.custom_read_more:hover {
  background: #7ab901;
  color: #1e1d24;
}
.custom-about-us h3.custom_title {
  text-align: left;
}
.custom-about-us {
  text-align: center;
}
/*------------- Contact us widgets --------------*/
.custom_details {
  font-size: 15px;
  font-weight: bold;
  color: #1e1d24;
}
.custom-social-icons input[type="text"], .custom-social-icons input[type="email"], .custom-social-icons textarea {
  margin: 0;
  background: transparent;
}
form.wpcf7-form {
  margin-top: 20px;
}
#sidebar .custom-contact-us form {
  text-align: left;
}
#sidebar .custom-contact-us label{
  width: 100%;
}
#sidebar .custom-contact-us input[type="submit"]{
  width: 100%;
}
/*------------- WOOCOMMERCE CSS --------------*/
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 1em;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: none;
}
.woocommerce span.onsale{
  background: #1e1d24;
  padding: 0;
}
.products li {
  box-shadow: 3px 3px 10px 2px #ddd;
  padding: 10px !important;
  text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #1e1d24;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 18px !important;
  margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #1e1d24;
  font-size: 15px
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: transparent;
  border:solid 2px #1e1d24;
  color: #1e1d24;
  border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #1e1d24;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 5px;
  border-radius: 0;
  border: solid 2px #1e1d24;
  color: #1e1d24;
}
.col-1,.col-2 {
  max-width: 100%;
}
.woocommerce .col2-set .col-1 {
   max-width: 100%;
}
.woocommerce .col2-set .col-2 {
   max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  border: solid 2px #1e1d24;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 0 0 #1e1d24;
  font-weight: bold;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #1e1d24;
}
span.woocommerce-input-wrapper,
.woocommerce label {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 10px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-account .woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce div.product .product_title{
  font-size: 30px;
}
.woocommerce .star-rating span, .woocommerce p.stars a{
  color: #ffd400;
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 0px;
}
.woocommerce-Reviews #comments p{
  float: none;
}
.woocommerce #comments ol li{
  padding: 0px !important;
}
.woocommerce #reviews #comments h2{
  font-size: 25px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
  width: 50px;
}
.select2-container--default .select2-selection--single , input#billing_phone{
  padding: 10px 0px;
  border-radius: 0px;
}
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
h3#order_review_heading{
  margin-top: 10px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: 29%;
}
section.related.products h2 {
  text-align: left;
  margin: 10px 0;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
  text-align: center;
  padding: 0
}
.woocommerce .products .star-rating{
  margin: 10px auto;
}
.admin-bar .home-page-header{
  margin-top: 32px;
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width:767px) {
  .nav-links {
    margin-bottom: 20px;
  }
  .contact_details i {
    margin-bottom: 20px;
  }
  .products li{
    width: 100% !important;
  }
}
@media screen and (max-width:720px) {
  #topbar,
  .logo,
  .search-box,
  .catgory-box{
    text-align:center;
  }
  .page-template-custom-home-page #top-header{
    margin: 0;
    position: static;
  }
  #slider .carousel-control-prev,
  #slider .carousel-control-next{
    bottom: 0;
    transform: none;
    top: 0;
  }
  #slider .carousel-control-next{
    right: 0;
  }
  #slider .carousel-caption {
    right: 0;
    left: 0;
    text-align: center;
    padding: 0;
    border: none;
  }
  #slider .carousel-control-prev-icon,
  #slider .carousel-control-next-icon{
    padding: 0;
    background: transparent;
    border: none;
  }
  #slider .inner_carousel h1,
  #slider .inner_carousel p{
    display:none;
  }
  .middle-align {
    padding: 20px 20px 20px;
  }
  .more-btn a {
    font-size: 8px;
    padding: 10px 5px;
  }
}
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus, .main-navigation a:focus{
    outline: 1px dotted #000 !important;
    border-bottom: 1px solid #000 !important;
  }
  .toggle-nav {
    display: none;
    position: relative;
    width: auto;
    cursor: pointer;
    margin: 0 auto;
    top: 20px;
    text-align: right;
  }
  .toggle-nav i {
    font-size: 20px;
    color: #fff;
    border: 2px solid;
    padding: 9px;
  }
  .toggle-nav button {
    background: transparent;
    border: none;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: -110%;
    overflow-x: hidden; 
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show {
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    display: block !important;
    color: #000;
    padding: 0;
    margin-top: 0;
    top:0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: right;
  }
  .toggle-nav{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: right;
    color: black;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-right: none;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-left:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-left: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-left: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: left;
    display: inline;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    left: 0px;
    width: 0px;
  }
  .sf-arrows .sf-with-ul:hover:after,
  .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .admin-bar .home-page-header{
    margin-top: 46px;
  }
  .search-box {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  #slider .inner_carousel p{
    display: none;
  }
  #topbar .custom-social-icons{
      text-align: left;
  }
  .contact_details i{
    margin-bottom: 5px;
  }
  .email,
  .top-button{
    text-align: right;
  }
  .top-button{
      margin: 15px 0;
  }
  .toggle-nav {
    width: auto;
    text-align: right;
  }
  .admin-bar .header-fixed {
    padding: 30px 5px 0px;
  }
}
