@font-face {font-family:Santral-Bold;src: url(fonts/Santral-Bold.ttf);}
@font-face {font-family:Santral-Book;src: url(fonts/Santral-Book.ttf);}
* {margin: 0;padding: 0;outline: none;}
html {scroll-behavior: smooth;}
p strong{font-family:Santral-Bold}
a, .entry-content a{text-decoration:none}
body{margin:0;padding: 0;-ms-word-wrap: break-word;word-wrap: break-word;position: relative;
	background: #fff;font-size:18px;color: #999;font-family:Santral-Book;color:#777}
/* body.fixed{padding-top:63px;}	 */
p{color:#777;font-size: 16px;margin: 0 0 15px;padding: 0;line-height: 25px;letter-spacing: normal;}	
.content-vw p{text-align: inherit;color:#777;font-size: 16px;line-height: 25px;}
img {margin: 0;padding: 0;border: none;max-width: 100%;height: auto;}
section img {max-width: 100%;}
h1,h2,h3,h4,h5,h6 {color: #1e1d24;font-family:Santral-Bold;text-transform:inherit;font-weight:inherit !important;letter-spacing: normal;}
section h4{font-size: 1.5rem;}
section h1,section h2,section h3,section h4,section h5,section h6{text-transform:inherit;font-weight:normal}
.text-white p{color:#fff}
section h3{padding:0;margin:0 0 0.5rem;}
.container{max-width:1170px}
.middle-align.container{padding: 0;max-width:100%}
.vc_btn3.vc_btn3-color-primary, .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat{background:#235695;}
.vc_btn3.vc_btn3-color-green, .vc_btn3.vc_btn3-color-green.vc_btn3-style-flat{background:#659f32;}
.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat{background:#d80000;}
.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat{background:#d80000;}
.vc_btn3.vc_btn3-color-primary, .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat{background:#002b4f;}
.vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-primary:focus, .vc_btn3.vc_btn3-color-primary:hover{color: #fff;background-color: #08c;}
.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-md.vc_btn3-style-outline-custom{padding:8px 35px;font-size:17px;font-weight:500;}
.vc_btn3.vc_btn3-size-lg{font-size:18px;text-transform:uppercase;border-radius:2px;padding-left:45px;padding-right:45px;}
.vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.
section.vc_section .vc_row{margin:0 !important;}
section.vc_section{padding:80px 0;margin:0}
section.vc_section-has-fill.vc_section, .vc_section.vc_section-has-fill+.vc_section{padding-top:80px !important}
section.vc_section .vc_row.container{margin:0 auto !important;}
a {text-decoration: none;color: #7ab901;}
.py-10, section.vc_section-has-fill.vc_section.py-10{padding-top:10rem !important;padding-bottom:10rem !important;}
.py-15{padding-top:15rem !important;padding-bottom:15rem !important;}
a:hover {text-decoration: none;color: #333;}
a:focus,a:hover {text-decoration: none !important;}
ul {margin: 0 0 0 15px;padding: 0;}
:hover {-webkit-transition-duration: 1s;-moz-transition-duration: 1s;-o-transition-duration: 1s;
	transition-duration: 1s;}
.clear{clear: both;}
input[type='submit']:hover{cursor: pointer;}
/* buttons */
.vc_btn3.vc_btn3-size-md{border-radius:1px;text-transform:uppercase;font-size:14px;letter-spacing:1px;padding:16px 35px;}
/* buttons */
/* --------=========================== TOP BAR ===========================--------- */

.home-page-header{padding:10px 0;}
.home-page-header {background: #fff !important;/* position: absolute; */top: 0;width: 100%;z-index:100;transition:all ease-in 0.5s}
.home-page-header.fixed{background: #fff;box-shadow: 0 -5px 13px #455565;position:fixed;top:0;width:100%;padding:5px 0;}
.header-menu .row{align-items: center;}
#topbar {background: none !important;padding:0;}
.contact_details span{color: #fff;font-size: 15px;}
.contact_details i {color: #ffffff;font-size: 12px;cursor: pointer;margin-right: 5px;border: solid 1px;border-radius: 50%;padding: 10px;}
#top-header{background:none}
/* ------------ LOGO CSS ----------- */
.logo {
	z-index: 999;
	padding: 0;
}
.logo h1 a {
	font-size: 30px;
	font-weight: 800;
	color: #fff;
}
.logo h1 {
	line-height: 30px;
	padding-top: 0;
}
p.site-description {             
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 13px;
	margin-bottom: 0;
}
.top-head-right ul li.login-btn a:hover{background: #002e5b;}
.menubar .nav ul{text-align:right;}
.menu .sub-menu{position:absolute;display: none;top:100%;background:#eee;min-width: 200px;left: 20px;margin:0 !important}
.menubar .nav ul li:hover ul{display:block !important;}
.menubar .nav ul li ul li{display:block}
#header .nav ul li > ul li a{color:#000}
#header .nav ul li > ul li a:hover{background:#e10000;color:#fff}
#header .nav ul li a{color:#000;text-transform:capitalize;padding:14px 20px;font-size:17px;letter-spacing:.3px;margin:0}
#header .nav ul li:last-child a{padding-right:0}
#header .nav ul li.menu-btn a{background:#e10000;color:#fff;font-size:16px;padding:11px 25px;border-radius: 2px;font-weight: normal;}
#header .nav ul li.menu-btn a:hover{background:#000;color:#fff;}
#header .nav ul li.menu-btn a:hover:after{content:none;}

/* ---------============================= HEADER END ==============================--------- */

.page-template-custom-home-page .home-page-header{padding: 0;}
.page-template-custom-home-page #bottom-header {
	position: relative;
	margin-top: -3em;
	top: 3em;
	background: #1e1d24;
	z-index: 99;
}
#bottom-header {background: #002e5b;}
.menubar .nav ul {
	padding: 0;
	margin: 0;
}
.menubar .nav ul li {
	display: inline-block;
	margin: 0;
	position: relative;
}
.menubar .nav ul li a{color:#000;padding:12px 10px;font-size: 17px;font-weight: 500;display: block;text-transform: capitalize;position:relative}
.menubar .nav ul li a:hover,.menubar .nav ul li.current-menu-item{color:#0d87c7;}
#header a:focus{border:none}
/* .menubar .nav ul li a:after{position:absolute;content:"";width:2px;height:15px;bottom:0;left:50%;background:transparent;}
.menubar .nav ul li a:hover:after,.menubar .nav ul li.current-menu-item a:after{background:#002b4f;} */
#header .nav ul li a:hover,#header .nav ul li a:focus, #header .current-menu-item{color:#259aff;outline:none;}
.menubar .nav ul li.login-btn a{background:#d80000 !important;color:#fff;border-radius:40px}
.menubar .nav ul li.top-phone-number a{position:relative;padding-left:20px;margin-left:20px;color:#0d87c7;font-weight:600;}
.menubar .nav ul li.top-phone-number a:before{position:absolute;content:"\f11d";font-family:ionicons;left:0;color:#d80000}
.menubar .nav ul li.login-btn a:hover:after{content:none}
.menubar .nav ul li.login-btn a:hover{background:#0d87c7 !important;}
.menubar .nav ul ul {margin:5% 0 0 0;}
.menubar .nav ul li:hover > ul li a {color:#fff;/* border-bottom:solid 1px #eee; */}

/* --------- FOOTER ------- */
#footer .custom-social-icons i,#sidebar .custom-social-icons i{padding: 10px;margin: 5px;border: 1px solid;}
#footer .tagcloud a{border:solid 1px #72757a;color: #72757a;font-size: 14px !important;padding: 5px 18px;
	margin: 0 0 5px;display: inline-block;}
#footer .tagcloud a:hover{background: #7ab901;color: #fff;}
#footer li a:hover{color:#7ab901;}
#footer ins span,#footer .tagcloud a{color: #72757a;}
.copyright img {text-align: right;}
#footer .widget{padding: 15px 0;}
#footer input[type="submit"]{margin-top: 0;padding: 10px 9px;font-size: 15px;width: 100%;background: #7ab901;}
#footer label{width: 100%;}
#footer .search-form .search-field{width:100%;border:solid 1px #72757a;padding: 10px;}
#footer caption,#sidebar caption {font-weight: bold;color: #72757a;font-size: 20px;}
#footer table,#footer th,#footer td{border: 1px solid #72757a;text-align: center;}
#footer td,#sidebar td {padding: 9px;color: #72757a;}
#footer th{text-align: center;padding: 10px;color: #72757a;}
#footer ul.menu li a{color:#72757a;font-size: 16px;margin:0 16px;text-transform:uppercase;}
#footer ul.menu{margin: 0;}
#footer ul.menu li{list-style:none;padding: 5px 0;display:inline-block}
#sidebar select,#footer select{padding: 10px 5px;width: 100%;}
#footer {text-align:center;background:#000000;padding:0;}
#footer h3 {color: #fff;font-size: 20px;padding:0 0 17px 0;letter-spacing: 1px;font-weight: bold;}
.full-width-block .widget-title{text-align:center;}
.full-width-block .zoom-social-icons-list--no-labels .zoom-social_icons-list__item{margin:0 4px;}
.full-width-block .menu{text-align:center;}
.full-width-block .menu li{display:inline-block}
#footer .zoom-social-icons-widget{text-align:center;display: inline-block;border-bottom:1px solid #555555;margin-bottom: 25px;}
#footer .zoom-social-icons-widget .widget-title{color:#555555;text-transform: uppercase;position:relative;
    letter-spacing:3px;font-size: 13px;font-weight: 300;position: relative;display: inline-block;text-align: center;    margin-bottom: 0;}
#footer .zoom-social-icons-widget .zoom-social_icons-list__link{margin:0 10px;}
#footer .zoom-social-icons-widget .widget-title:after{position: absolute;right: -70px;height: 1px;background: #555555;
    width:60px;content: "";top: 18%;}
	#footer .zoom-social-icons-widget .widget-title:before{position:absolute;left: -70px;height: 1px;background: #555555;
    width:60px;content: "";top: 18%;}
#footer p {font-size: 14px;}
.navigate ul{list-style: none;}
.copyright .row{align-items:center;}
.copyright a{color: #718a9f;}
.copyright p{margin-bottom: 0;font-size: 16px;font-weight:400;color:#718a9f;}
#footer-2{text-align:center;padding:20px 0;background:#002b4f;}
#footer .menu-footer-menu-container .menu li a{text-transform: uppercase;color:#000;padding:0 12px;letter-spacing:1px;font-weight:300}
#footer .menu-footer-menu-container .menu li a:hover{color:#08689b}
#footer-2 .menu li{text-align: right;margin:0}
#footer-2 .menu li{display:inline-block}
#footer-2 .menu li a{text-transform:capitalize;text-transform: capitalize;padding:0 12px;font-size:16px;letter-spacing: .3px;margin: 0;}
#footer-2 .menu li a:hover{color:#08689b}
/* Footer Section */
.Floating-btn i{animation-name: phone;animation-duration: 1s;animation-iteration-count: infinite;}
@keyframes phone {
    0% {-webkit-transform:rotate(0) scale(1) skew(1deg);transform:rotate(0) scale(1) skew(1deg)}
    10% {-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}
    20% {-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}
    30% {-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}
    40% {-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}
    50% {-webkit-transform:rotate(0) scale(1) skew(1deg);transform:rotate(0) scale(1) skew(1deg)}
    100% {-webkit-transform:rotate(0) scale(1) skew(1deg);transform:rotate(0) scale(1) skew(1deg)}}
.scrollup i, .Floating-btn i{width: 50px ! important;height: 50px ! important;position: fixed;line-height: 53px;bottom: 100px;
    right:30px;font-size: 20px;color: #fff !important;background:orange;border-radius: 100% ! important;
    font-size: 27px;z-index: 100;text-align:center}
.Floating-btn.fixed i{display:none !important}	
.scrollup i:hover,.Floating-btn i:hover{background:#002b4f;}
.scrollup.left i {left: 100px;}
.scrollup.center i {left: 50%;right: 50%;}
.main-section {padding: 60px 0 !important}
/* =========================================== */
.widget .zoom-social-icons-list--no-labels.zoom-social-icons-list--without-canvas{margin: 0 !important;}
.zoom-social-icons-list--no-labels .zoom-social_icons-list__item{margin: 0 !important}
.zoom-social_icons-list__link {padding: 4px 0;display: inline-block}
body .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated{padding: 0;}
.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner{padding-top: 0;}
/*=========================== Section-title =================== */
.section-title-box{margin-bottom:25px}
.section-title{position:relative;margin:0 0 20px !important;font-size:50px !important;letter-spacing: -1px;line-height:55px;}
.section-tagline p{font-size: 25px;letter-spacing: -1px;line-height: 30px;}
.section-title .vc_custom_heading{font-size:30px;}
.section-title p{margin-bottom:0}
.section-title.left{left:0;margin-left:0;position:relative}
.section-title.vc_custom_heading.left{margin-bottom:50px;position:relative}
.sub-title{position: relative;text-transform: uppercase;margin: 0;line-height: normal;font-size:16px;color:#999;font-weight: normal;letter-spacing:1.5px;}
.sub-title.text-center{display:inline-block}
.sub-title:before{position: absolute;left: 0;height: 3px;width: 40px;margin-left: -55px;top: 50%;
    background: #e10000;content: "";margin-top: -1.5px;}
.line-after{position:relative}	
.line-after:after{background:#e10000;position:absolute;bottom:-10px;content:"";height:2px;width:80px;margin-left:-40px;left:50%;}
/*=========================== Hero=================== */
.hero{position:relative}
.hero .hero-intro{/*background:#fff; position:absolute; *//* height:100%;top: 0; */}
/* .hero .hero-intro:before{position:absolute;left:0;top:0;width:100%;height:100%;content:"";background:#fff;left:-100%;} */
.hero-intro h1{font-size:50px;font-weight: 600;padding: 0;margin:10px 0;line-height: normal;}
.hero-intro h3{font-size:30px;font-weight: 600;padding: 0;margin: 0;letter-spacing:2px;}
.hero-intro h4{font-size:20px;font-weight:normal;font-family:ProximaNova-Regular;padding: 0;margin: 0;letter-spacing:2px;text-transform:uppercase !important}
.hero-intro p{font-size:20px;line-height:30px;font-weight:300}
section.vc_section.hero{/* padding:10rem 0 0 */}
.hero-intro .sub-title{font-size:20px;}
.internal-hero .internal-hero-intro{/* padding:10.5rem 0 3rem */}
.internal-hero h1{font-size:50px;}
/*=========================== Hero END =================== */
/* ================ contact ================== */
form.wpcf7-form{margin-top:0}
.form-control{box-shadow:none;border-radius:1px;font-size:18px;height:45px;border-color:#cfd9e6;}
.wpcf7-form-control{font-weight: 300;font-size: 18px !important;width: 100%;border:1px solid #dee4e6 !important;
    min-height:55px;border-radius: 2px;background:#f4f8f9;padding-left:25px !important;color: #7a99b5;margin:0 !important}	
.wpcf7-form-control::placeholder{color:#999;}	
.wpcf7-form-control:focus{border-color:#169aff;outline:none;}
.wpcf7-form br{display:none;}
textarea.wpcf7-form-control{min-height:180px;padding-top:20px;}
.wpcf7-submit.wpcf7-form-control{color: #fff;margin: 0;margin-top: 0px;background:#d80000;padding: 14px 0 !important;
    height: auto;text-transform: uppercase;border: none;font-size:18px;border-radius:2px;font-weight:400;border-color:#d80000 !important}
.wpcf7-submit.wpcf7-form-control:hover{background:#259aff;border-color:#259aff}
.span.wpcf7-not-valid-tip{font-size: 12px;padding-top: 5px;}
.contact-info h4{margin-bottom: 10px;}
.contact-info a{color:#555;text-decoration:none;font-family:Santral-Book}
.contact-info a:hover{color:#259aff;}
.wpcf7-not-valid-tip{font-size:.6em;}
.wpcf7 form .wpcf7-response-output{margin: 1em 0 1em;}
.wpcf7 form .wpcf7-response-output{line-height: normal;font-size: 12px;padding: 5px 10px;}
.wpcf7 form.invalid .wpcf7-response-output{display:none !important}
div.wpcf7 .ajax-loader{background-image: url(http://nextcom.cc/wp-content/uploads/2020/08/loader.gif);background-size:100%;position: absolute;left: 50%;margin-left: -8px;bottom: -8px;}
.wpcf7 form.sent .wpcf7-response-output{background: #46b450;color: #fff;}
/* ================ contact END ================== */
.turnaround{position:relative}
.turnaround .vc_column_container{position:static}
/* .turnaround .wpb_single_image img{margin-bottom:-1px;} */
.process-box{position:absolute;}
.process-box .vc_custom_heading{font-size:14px;text-transform:uppercase;color:#fff;font-family:Santral-Book;position:relative;padding: 15px 0;display: flex;align-items: center;justify-content: center;min-height:61px}
.process-box .vc_custom_heading:after{position:absolute;left:50%;content:"";background:#fff;width:2px;height:160px;top:50px;
    z-index:1;}
#Process{position:relative}	
.process-image{margin-top:5rem;position: relative;z-index: 10;}
.process-box-row{position: relative;/*bottom: 19%;left: 0;right: 0;*/min-height: 400px;}
.process-box-row .process-box{position: absolute;height:210px;max-width:180px;}
.process-box-row .process-box:after{position: absolute;height: 52px;width: 60px;background: url(images/arrow.png);
content: "";top: -120px;left: 75%;}
.process-box-row .process-box:first-child{bottom:27%;left: 2.6%;}
.process-box:first-child .vc_custom_heading{background:#75a8d2;}
.process-box:first-child .vc_custom_heading:after{background:#75a8d2;}
.process-box-row .process-box:nth-child(4){bottom:27%;right:2.6%}
.process-box-row .process-box:nth-child(4):after{left: 16%;transform:rotate(98deg);}
.process-box:nth-child(4) .vc_custom_heading{background:#1973d9;}
.process-box:nth-child(4) .vc_custom_heading:after{background:#1973d9;}
.process-box-row .process-box:nth-child(2){bottom:60%;left: 23%;}
.process-box:nth-child(2) .vc_custom_heading{background:#00d1b2;}
.process-box:nth-child(2) .vc_custom_heading:after{background:#00d1b2;}
.process-box-row .process-box:nth-child(2):after{right: -87%;transform: rotate(30deg);left: auto;top: 0;}
.process-box-row .process-box:nth-child(3){bottom:60%;right: 23%;}
.process-box-row .process-box:nth-child(3):after{content:none}
.process-box:nth-child(3) .vc_custom_heading{background:#23c6d3;}
.process-box:nth-child(3) .vc_custom_heading:after{background:#23c6d3;}
/* ==================== Services ================ */
.service-box .vc_column-inner >.wpb_wrapper{background:#fff;padding:30px 10px;margin-bottom:25px;}
.service-box .wpb_single_image.vc_align_center{margin-bottom:10px}
.service-box .vc_custom_heading{margin-bottom:0}
.service-box img{max-height: 80px;}
/* ==================== Services END ================ */
/* ==================== team-box================ */
.member-thum .vc_column-inner{padding:0}
.team-box .vc_custom_heading{margin: 0 0 15px;letter-spacing: -0.5px;}
.team-box p{line-height: 25px;font-size: 15px;letter-spacing: 0.2px;}
.team-box .member-info{z-index: 2;}
.team-box .member-info >.vc_column-inner{padding:15px 35px;position:relative;}
.team-box .member-info >.vc_column-inner:after{position: absolute;left: -45px;z-index: 100;content: "";border-left: 25px solid transparent;
    border-top: 25px solid transparent;border-bottom: 25px solid transparent;border-right: 25px solid #eaf4fe;}
.team-box .member-info.order-md-1  >.vc_column-inner:after{left: auto;right: -45px;transform: rotate(180deg);}
/* ==================== team-box END ================ */
/*=========================== feature-box  =================== */
.vc_row .feature-box{padding-top:0 !important;}
.feature-box >.vc_column-inner{padding-bottom: 27px;position:relative;overflow:hidden;padding-top:0 !important;box-shadow: 5px 0 11px #e4e9ef;padding:30px 0 0;/* display:flex; */text-align:center;transition:all ease-in-out 0.5s;margin-right:0;margin-left:0;}
.feature-box .wpb_single_image{margin-bottom:0 !important}
.feature-box >.vc_column-inner .vc_custom_heading{font-size:25px;color: #fff;/* text-transform:uppercase !important; */margin-bottom:0}
.feature-box >.vc_column-inner p{font-size: 16px;line-height: normal;font-weight: normal;margin: 10px 0 0;}
/* .feature-box >.vc_column-inner:hover{background:#092f5b;color:#fff;} */
/* .feature-box >.vc_column-inner:hover .vc_custom_heading{color:#fff;} */
.feature-box .feature-box-content .vc_btn3-container{margin-top:15px;display:none}
.feature-box .feature-box-content{position: absolute;bottom: 0;background: linear-gradient(0deg,#000,transparent);padding: 25px 0 !important;
    align-items: center;transition: all ease-in-out .5s;height: 25%;width: 100%;margin: 0 !important;}
.feature-box >.vc_column-inner:hover .feature-box-content{bottom:0;height:40%}
.feature-box >.vc_column-inner:hover .feature-box-content .vc_btn3-container{display:block}
/*=========================== feature-box End =================== */