@media(max-width: 1024px)
{
.home-page-header{display:none}
}
	
@media(max-width:991px)
{
.section-title{font-size: 30px !important;margin-bottom:15px !important;line-height:normal}
.section-tagline{margin-bottom: 15px !important;}
.section-tagline p{margin-bottom:0 !important;line-height: normal;font-size: 17px;line-height: normal;letter-spacing: 0;}
.vc_btn3.vc_btn3-size-md{font-size: 12px;letter-spacing: 1px;padding: 13px 25px;}
section.vc_section{padding:50px 0;}
section.vc_section-has-fill.vc_section, .vc_section.vc_section-has-fill + .vc_section{padding-top:50px !important;}
.process-box-row{min-height: 200px;bottom: 30%;}
.process-box-row .process-box::after{content:none}
.service-box .vc_custom_heading{font-size:15px;}
.copyright p,#footer-2 .menu li a{font-size:14px;}
#footer-2 .menu li a{padding: 0 8px;}
}
@media(max-width:768px)
{
body.admin-bar{padding-top:96px !important;}
.process-box-row{bottom: 21%;}

.service-box{width:50% !important;}
}

@media(max-width:767px)
{
.Floating-btn.fixed i{display:block !important}		
body section.vc_section-has-fill.vc_section.hero{padding-top:0 !important}	
.hero .hero-intro{padding-bottom:15px}	
.contact-info{text-align: center}	
.contact-info .vc_column-inner{padding:0}
.section-title{text-align: center !important;font-size:30px !important;}
.section-tagline p{text-align: center;}
.vc_btn3-container.vc_btn3-inline{display: block;text-align: center;}
.service-boxes{margin-top:30px;}
.team-box.vc_row {margin-bottom:15px;margin-left: -10px;margin-right: -10px;}
.service-box:last-child .vc_column-inner > .wpb_wrapper, .service-box:nth-child(5) .vc_column-inner > .wpb_wrapper{margin-bottom:0}
.team-box .member-info >.vc_column-inner:after{content:none}
/*.process-box-row{bottom:0;position: absolute;padding: 0;}*/
section.vc_section .vc_row.container.process-box-row{margin:10rem auto 0 !important;}
.process-box .vc_custom_heading{font-size: 10px;padding: 5px 0;min-height: 50px;max-width: 100px;}
.process-box-row .process-box{max-width: 130px;}
.process-box-row .process-box:first-child{left:-7px;}
.process-box-row .process-box:nth-child(4){right: -7px;}
.process-box-row .process-box:nth-child(2){left:14%;bottom: 72%;}
.process-box-row .process-box:nth-child(3){right:14%;bottom: 72%;}
.team-box .vc_custom_heading{margin: 0;font-size: 15px;}
.process-image{margin-top:1rem;/*position: absolute;bottom: 0;*/z-index: 10;}
.copyright p{text-align:center}
.copyright .widget {display:none}
.scrollup i{bottom: 50px;right: 15px;}
.Floating-btn i{bottom:75px;right: 15px;}
.contact-info .wpb_text_column{margin-bottom:20px}
.section-title-box .vc_column-inner{padding:0}
.mobile-btns{position: fixed;bottom: 0;/* background-image: linear-gradient(transparent, #000); */z-index: 100;padding: 0;}
#footer-2{padding-bottom:70px;}
.mobile-btns .vc_column-inner{padding: 0 !important;}	
.mobile-btns .vc_btn3-shape-rounded{border-radius:0}
.mobile-btns .vc_btn3-container{margin-bottom: 0;}	
.pum-overlay, html.pum-open.pum-open-overlay-disabled.pum-open-fixed .pum-container, html.pum-open.pum-open-overlay.pum-open-fixed .pum-container{left: 2% !important;right: 2% !important;}	
	.pum-theme-202 .pum-container, .pum-theme-enterprise-blue .pum-container{padding-top: 43px;}
.internal-hero h1{font-size: 30px;}	
.feature-box > .vc_column-inner .vc_custom_heading{font-size: 20px;}
.feature-box .feature-box-content{height: 30%;}
.team-box .member-info > .vc_column-inner{padding: 15px 14px;}
.team-box .member-info > .vc_column-inner p{font-size: 11px;line-height: normal;padding-top: 5px;letter-spacing: -0.5px;}
.fast-turnaround-image-box{/*position: absolute !important;bottom: 0;*/}
}
